<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="src/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    

    <div id="app">
        
        <div id="main" v-if="!login">
            <label for="item_input">Item
                <input id="item_input" type="text" v-model="text"> 
            </label>
            <button v-on:click="add">Add</button>
            <button v-on:click.prevent="logout">Logout</button>
            <div class="dot-pulse" v-if="loading"></div>
            
            <ul id="items">
                <li v-for="item in items">
                    {{ item.name}} <span style="display:none;">{{ item._id }}</span><button class="remove" @click="remove(event)">x</button>
                </li>
            </ul>
        </div>
        <div id="login" v-else > 

            <div id="register" v-if="register">
                <h2>Register as a new user</h2>
                <button @click.prevent="sendRegistration">Send</button>
                <button @click.prevent="register=false;">Cancel</button>
            </div>
            <div v-else>
                <h2>Login</h2>    
                <button @click.prevent="sendLogin">Login</button>
                <button @click.prevent="register=true;">Register</button>
            </div>
            <label for="email">email</label>
            <input id="email" type="email" v-model="user.email">
            <label for="pwd">password</label>
            <input id="pwd" type="password" v-model="user.pwd">
            
            
        </div>
    </div>

    <script src="src/app.js"></script>
</body>
</html>